*{
    margin: 0;
    padding: 0;
}
.con{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form{
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
}
.form-input{
    padding: 4px 9px;
    margin: 4px 9px;
    width: 60vw;
    border: 2px solid black;
    border-radius: 7px;
    outline: none;
}

.btn{
    padding: 5px 7px ;
    border-radius: 6px;
    border:2px solid black;
    outline: none;
    cursor: pointer;
}
