<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="con">
        <form action="/index" method="post" class="form">
            <input type="name" class="form-input" id="username" name="name" placeholder="Enter your name">
            <input type="email" class="form-input" id="useremail" name="email" placeholder="Enter your email">
            <input type="tel" class="form-input" id="useremail" name="phone" placeholder="Enter your Number">
            <input type="password" class="form-input" id="pass1" name="pass1" placeholder="Enter your password">
            <input type="password" class="form-input" id="pass2" name="pass2" placeholder="confrim password">
            <button type="submit" class="btn">Register</button>
        </form>
    </div>
</body>

</html>